.main-news {
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.17);
    margin-top: 32px;
    display: flex;
    height: 270px;

    .main-news-group {
        height: 270px;
        width: 100%;

        .main-news-content {
            width: 100%;
            height: 270px;

            .main-news-img {
                background-size: cover;
                background-position: center;
                background-repeat: none;
                max-width: 62.8%;
                height: 270px;
            }
        }
    }

    .main-inspect-news {
        position: absolute;
        right: -108px;
        bottom: -20px;
        text-align: left;
    }

    li {
        width: 18px;
        height: 8px;
    }

    ol {
        position: absolute;
        left: -70%;
        bottom: 16px;

        .active {
            width: 40px;
            background-color: $primary;
        }
    }


    h1 {
        font-size: 20px;
        color: #3a405b;
        margin: 32px 0 16px 0;
    }

    .main-news-tag {
        margin-top: 16px;
        position: absolute;
        bottom: 64px;
        left: 16px;

        span {
            height: 23px;
            width: 100%;
            color: #84b4cc;
            font-family: "Noto Sans CJK SC";
            font-size: 14px;
            letter-spacing: 0.5px;
            line-height: 23px;
            margin-right: 20px;

            a {
                color: #84b4cc;
            }
        }
    }

    .news-tag_gray {
        position: absolute;
        bottom: 32px;
        left: 16px;

        span {
            color: #ababae;
        }
    }
}

//主要新聞手機板
.main-news-sm {
    ol {
        position: absolute;
        left: -172px;
        top: 144px;

        li {
            height: 8px;
            width: 16px;
        }

        .active {
            background-color: #4A90E2;
            width: 36px;
        }
    }

    .main-news_mobile {
        width: 100%;
        box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.17);
        padding-bottom: 16px;

        .main-news-hero_mobile {

            a {
                width: 100%;
                height: 167px;
                background-size: cover;
                background-position: center;
            }
        }

        .main-inspect-news_mobile {
            h1 {
                padding: 8px 16px;
                font-size: 17px;
                line-height: 20px;
                color: #3a405b;
            }

            p {
                padding: 8px 16px;
                font-size: 17px;
                line-height: 20px;
                color: #3a405b;
            }

            .main-news-tag_mobile {
                padding: 0px 16px;

                span {
                    display: inline-block;
                    height: 23px;
                    color: #84b4cc;
                    font-family: "Noto Sans CJK SC";
                    font-size: 14px;
                    letter-spacing: 0.5px;
                    line-height: 30px;
                    margin-bottom: 8px;

                    a {
                        color: #84b4cc;
                    }

                    img {
                        margin: 0 2px;
                    }
                }

                span:nth-child(2) {
                    margin-right: 50%;

                    @media (min-width: 375px) {
                        margin-right: 65%;
                    }
                }
            }

            .main-news-tag_gray_mobile {
                padding: 0px 16px;

                span {
                    color: #ababae;
                    margin-bottom: 8px;
                    background-image: url()
                }
            }
        }
    }
}


// 一般新聞區------------------------------------------------------------------------------------
.news-hero {
    background-color: $gray-100;
    height: 270px;
    width: 480px;

    .main-news-img {
        background-size: cover;
        background-position: center;
        width: 100px;
        height: 100px;
    }

    img {
        width: 100%;
        height: 100%;
        background-color: #fff;
    }
}

.main-inspect-news {
    width: 265px;
    height: 270px;
    padding: 16px;
}

.hero-remarks {
    margin: 8px 0;
    color: #bfc4ce;
}

.news {
    margin-top: 8px;
    height: 340px;
    width: 100%;
    border-top: 1px solid #d7dae0;

    @media (min-width: 576px) {
        height: 140px;
    }

    .news-img {
        display: block;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 176px;

        @media (min-width: 576px) {
            max-width: 213.33px;
            height: 120px;
            margin: 16px 0;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    h3 {
        margin-top: 16px;

        @media (min-width: 576px) {
            margin-top: 32px;
        }
    }

    p {
        height: 56px;
        margin-top: 16px;
        padding-right: 24px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #A9A9A9;
    }

    .news-tag {
        width: 100%;
        position: absolute;
        bottom: -36px;
        left: 4px;

        @media (min-width: 576px) {
            bottom: 32px;
        }

        span {
            height: 23px;
            width: 100%;
            color: #84b4cc;
            font-family: "Noto Sans CJK SC";
            font-size: 14px;
            letter-spacing: 0.5px;
            line-height: 23px;
            margin-right: 8%;
        }
    }

    .news-tag_gray {
        position: absolute;
        bottom: 0;
        left: 0;

        span {
            color: #ababae;
        }
    }

    span {
        height: 23px;
        width: 100%;
        color: #84b4cc;
        font-family: "Noto Sans CJK SC";
        font-size: 14px;
        letter-spacing: 0.5px;
        line-height: 23px;
        margin-right: 8%;

        a {
            color: #84b4cc;
        }

        img {
            margin: 0 4px;
        }
    }
}

.refresh-bar {
    margin-top: 32px;
    width: 100%;

    a {
        display: block;
        height: 48px;
        background-size: cover;
        background-position: center;
    }

    span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-weight: 600;

    }
}

//熱門新聞區----------------------------------------------

.hot-news {
    padding-left: 0px;
    margin-top: 32px;
    height: 776px;

    @media (min-width: 769px) {
        margin-top: 32px;
        width: 100%;
        padding-left: 40px;
    }

    .hot-news-card {
        border-top: 3px solid $primary;

        h2 {
            font-size: 17px;
            line-height: 20px;
            color: $primary;
            text-align: center;
        }

        .user-photo {
            position: absolute;
            top: 32px;
            left: 0px;
        }

        .hot-news-scroll {
            height: 665px;
            overflow-y: hidden;
            margin-top: 16px;

            @media (min-width: 768px) {
                overflow-y: scroll;
                overflow-x: hidden;
            }

            &::-webkit-scrollbar-track {
                border-radius: 10px;
                background-color: #fff;
            }

            &::-webkit-scrollbar {
                width: 12px;
                background-color: #fff;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 10px;
                background-color: #d8d9de;
            }
        }

        .hot-news-button-groups {
            display: flex;

            a {
                display: block;
                width: 90px;
                height: 40px;
                line-height: 40px;
                margin-right: 6px;
                text-align: center;
                color: $primary;
                border: 1px solid #bfc4ce;
                border-radius: 4px;
                box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.17);
                margin-top: 8px;
                text-decoration: none;
                color: #fff;
            }

            a:nth-child(1) {
                margin-left: auto;
            }

            a:nth-child(3) {
                margin-right: auto;
            }

            .active {
                width: 129px;
                height: 50px;
                line-height: 50px;
                margin-top: 4px;
            }
        }

        .hot-news-item {
            border-bottom: 1px solid #bfc4ce;
            padding: 32px 16px 32px 0px;
            line-height: 22px;
            font-size: 14px;
            display: flex;

            h3 {
                margin-bottom: 24px;
            }

            h4 {
                margin-left: 48px;
                margin-bottom: 24px;
            }

            .hot-news-item_index {
                font-size: 30px;
                line-height: 36px;
                color: $primary;
            }

            .news-tag {
                position: absolute;
                bottom: 8px;
                left: 47px;

                .news-tag_gray {
                    color: #ababae;
                }
            }

            span {
                height: 23px;
                color: #84b4cc;
                font-family: "Noto Sans CJK SC";
                font-size: 14px;
                letter-spacing: 0.5px;
                line-height: 23px;
                margin-right: 16px;

                a {
                    color: #84b4cc;
                }

                img {
                    margin: 0 4px;
                }
            }
        }
    }
}


// footer表尾---------------------------

.footer {
    width: 90%;
    height: 240px;
    border-top: 3px solid $primary;
    background-color: #f2f5fa;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 24px;

    a {
        color: #3a405b;
        display: block;

        img {
            width: 104px;
        }
    }

    h3 {
        font-size: 17px;
        font-weight: 600;
        color: $primary;
        text-align: center;
        margin-top: 8px;
    }
}